#header {
  text-align: center;
}

h1, h3 {
  color: #C23626;
}

img {
  height: 250px;
  width: auto;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 20px 50px;
  background-color: #F5E4E2;
}

ul {
  margin: 5px 0px;
}

h3 {
  font-size: 25px;
}

h1 {
  font-size: 40px;
}